extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.mt-4.mb-4.pb-2.border.border-dark.border-top-0.border-right-0.border-left-0
    .row
      .col-lg-6
        h3= pageHeader.title
          small &nbsp;#{pageHeader.strapLine}
  .row  
    .col-xs-12.col-sm-8
      .error= message
      ul.list-group
        each location in locations
          li.list-group-item.mb-1
            h4
              a(href="/location/#{location._id}")= location.name
              small
                span.text-warning.ml-2              
                  +outputRating(location.rating)
              small
                span.badge.badge-danger.badge-pill.float-right.font-italic= location.distance
            p.font-italic= location.address
            h5
              each facility in location.facilities
                span.badge.badge-warning.mr-1 
                  i.fas.fa-check 
                  | &nbsp;#{facility} 
    .col-xs-12.col-sm-4
      p= sidebar
